<?xml version='1.0' encoding='utf-8'?>
<widget id="com.integrals.calc" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IntegralCalc</name>
    <description>A Riemann Sum integral calculator</description>
    <icon src="www/favicon.png"/>
    <author email="allen.macfarland@gmail.com" href="https://github.com/SirAlienTheGreat">
        SirAlienTheGreat
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
